<div class="container">
  <h1>Hola, esta es mi app angular 17</h1>
  <h2>{{welcome}}</h2>
  <ul>
    <li *ngFor = "let task of lista()">
      {{task}}
    </li>
  </ul>

  <hr />
  <h2>{{ "Hola".repeat(10) }}</h2>
  <p>La suma de 3 + 3 es {{3 + 3}}</p>
  <p>Hola, soy {{ name() }} y tengo {{age}} años</p>

  <hr />

  <img [src]="persona().avatar" alt ="">
  <input type="number" [value]="persona().age">
  <button [disabled]="disabled">Clickeame</button>

  <p>Persona: {{ persona.name }}</p>

  <hr />
  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()">Double Click Me</button>
  <p>(change)</p>
  <input type="number" [value]="persona().age" (change)="changeAge($event)">

  <p>(change)</p>
  <input type="text" [value]="persona().name" (change)="changeName($event)">
  <p>(keydown)</p>
  <input type="text" [value]="persona().name" (keydown)="keydownHandler($event)">

  <p>(keydown)</p>
  <input type="text" [value]="persona().name" (keydown.shift.t)="clickHandler()">

  <hr/>
  <p>Signals:</p>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <p>name: {{name()}}</p>

  <p>total elementos: {{ lista().length }}</p>
  <ul>
    <li *ngFor = "let task of lista(); index as i">
      {{i}} {{ task }}
    </li>
  </ul>

  <div *ngIf="1!==1">
    my content
  </div>

  <div *ngIf="name() == 'Juan Daniel'">
    Juan Daniel
  </div>

  <div *ngIf="persona().name == 'Juan Daniel' && persona().age >= 18; else elseBlock">
    Soy juanda y soy adulto
  </div>

  <ng-template #elseBlock>
    Soy Juanda y soy menor a 18
  </ng-template>

  <div [ngSwitch]="persona().name">
    <p *ngSwitchCase="'Juan Daniel'">Soy Juanda</p>
    <p *ngSwitchCase="'Nicolas'">Soy Nicolas</p>
    <p *ngSwitchCase="'Fernando'">Soy Fernando</p>
    <p *ngSwitchDefault>No soy nadie</p>
  </div>
</div>
